<div class="row">
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
               <h1> Confirmed</h1>
            </div>
            <div class="value" >
            <p style="font-size:3vw;">{{totalConfirmed}}</p> 
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
             <h1> Recovered </h1>
            </div>
            <div class="value">
                <p style="font-size:3vw;"> {{totalRecovered}}</p>
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
             <h1>Deaths</h1>
            </div>
            <div class="value">
                <p style="font-size:3vw;">{{totalDeaths}}</p>
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
              <h1>Active</h1>
            </div>
            <div class="value">
                <p style="font-size:3vw;">{{totalActive}}</p>
            </div>
          </div>
    </div>
    </div>
